@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inika';
    src: url('fonts/Inika-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inika';
    src: url('fonts/Inika.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Marcellus SC';
    src: url('fonts/MarcellusSC-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-blue: rgba(0, 114, 219, 1);
    --color-orange: rgba(255, 153, 0, 1);
    --color-black: rgba(0, 0, 0, 1);

}

body {
    width: 1440px;
    height: 2767px;
}


.info {
    display: inline-block;
    width: 1440px;
    height: 2767px;

    margin-top: 30px;
    margin-left: 448px;
    margin-right: 404px;
    margin-bottom: 25px;
}

.title {
    color: rgba(62, 69, 232, 1);
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: center;

}

.subject {
    color: rgba(232, 194, 62, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.subtitle {
    position: relative;
    display: block;
    width: 1440px;
    height: 766px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
}

.img-section {

    padding: 240px 1337px 236px 80px;
}

.subtitle-desc {
    position: absolute;
    top: 0;
    padding: 349px 263px 236px 141px;
    color: #ffff;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 157.3%;

}

.heading {
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 48px;
    margin-left: 800px;
    margin-bottom: 5px;
    margin-left: 80px;
}

.pic-heading {
    margin-right: 661px;
    margin-bottom: 42px;
}

.cards {
    min-width: 992px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    display: inline-block;
    width: 30%;
    border: 5px solid rgba(13, 9, 95, 1);
    min-height: 481px;
    vertical-align: top;
    border-radius: 35px;
    box-shadow: 20px 11px 20px 0px rgb(124, 150, 221);
}

.card-margin {
    margin: 0 3%;
}

.card__img>img {
    width: 100%;
}

.card__title {
    color: var(--color-blue);
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

.card__desc {
    color: var(--color-orange);
    font-size: 20px;
    font-family: 'Inika', sans-serif;
    font-weight: bold;
    line-height: 157.3%;

}

.headline__title {
    color: var(--color-black);
    font-size: 40px;
    font-family: 'Inika', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 19px;

}

.headline__line {
    width: 592px;
    height: 7px;
    background-color: rgba(20, 0, 255, 1);
    margin-left: 421px;
    margin-right: 427px;
    margin-bottom: 32px;

}

.headline__img {
    margin-left: 220px;
    margin-right: 219px;
    margin-bottom: 23px;
}

.buttons {
    display: inline-block;
    align-items: center;
}

.btn-primery {
    display: inline-block;
    cursor: pointer;
    outline: 0;
    padding: 10px 208px;
    color: #ffff;
    text-transform: uppercase;
    font-size: 64px;
    font-family: 'Inika', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: rgba(42, 97, 240, 1);
    border-radius: 50px;
    margin-right: 476px;
    margin-left: 465px;
    margin-bottom: 33px;

}

.footer {
    position: relative;
    display: block;
    width: 1440px;
    height: 766px;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
}

.footer-title {
    color: rgba(62, 69, 232, 1);
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: center;
}


.footer-subject {
    color: rgba(232, 194, 62, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}



.mail {
    color: rgba(168, 157, 157, 1);
    font-size: 36px;
    font-family: 'Marcellus SC', serif;
    text-align: center;
    text-decoration: none;
    margin-top: 1px;
    margin-left: 576px;
    margin-right: 461px;
}

.tel {
    padding-left: 578px;
    color: rgba(168, 157, 157, 1);
    font-size: 36px;
    font-family: 'Marcellus SC', serif;
    text-decoration: none;
}

.social {
    margin-top: 8px;
    margin-bottom: 29px;
    display: block;
    text-align: center;
}

.social-link-margin {
    margin: 0 1.5%;
}